<!-- <div  class="popup-inactiva-user">
    <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
      <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show popup-suc active-user loading" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
        <div class="text-inac loading">
              <img src="../../../assets/images/gift/loading.gif" height="50" width="63" alt="">
              <p class="text-loading">Procesando, espera por favor</p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="hover_bkgr_fricc">
    <div class="text-inac loading">
      <img src="../../../assets/images/gift/loading.gif" height="50" width="63" alt="">
      <p class="text-loading">Procesando, espera por favor</p>
    </div>
  </div>  